* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    color: rgba(0, 0, 0, 0.87);
    list-style-type: none;
    font-family: arial,sans-serif;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
    padding: .8em;
    font-size: 16px;
    
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    * {
        margin-bottom: 15px;
    }

    form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    input[type="search"] {
        width: 90vw;
        max-width: 550px;
        padding: 15px 30px;
        border: 1px solid #cdcdcd;
        border-radius: 25px;

        &:focus {
            box-shadow: 0px 0px 8px #bcbcbc;
        }
    }

    .btn {
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 5px;
        color: #3c4043;
        font-size: 14px;
        margin: 10px 5px;
        padding: 0 15px;
        height: 35px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0px 0px 1px rgba(0, 0, 0, .1);
            color: #202124;
        }
    }
}

#footer {
    p {
        background-color: #efefef;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }

    a, span {
        color: rgb(61, 62, 139);
        font-weight: bold;
    }
}

// ADV SEARCH

.adv-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: .8em;
    font-size: 16px;

    img {
        width: 40%;
        height: 100%;
    }
    
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
}

h3 {
    color: #d93025;
    font-weight: 400;
    margin: 1em 2.625em;
}

#adv-main h4 {
    margin: 2.5em 3em 2em;
    font-weight: 400;
}

.adv-form-group {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    margin: 1.25em 3em;
    align-items: center;

    input[type="text"] {
        padding: 5px;
    }

    .info {
        font-size: 12px;
        margin-left: 1.25em;
    }
}

.form-group-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 3em;
}

#adv-btn {
    height: 30px;
    min-width: 120px;
    background-color: #4d90fe;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#adv-footer {
    p {
        background-color: #efefef;
        text-align: center;
        padding: 30px 0;
    }

    a, span {
        color: rgb(61, 62, 139);
        font-weight: bold;
    }
}

@media (max-width: 700px) {

    .adv-form-group {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 1.75em;
        align-items: center;

        label {
            margin-bottom: 10px;
        }
    
        .info {
            font-size: 12px;
            margin: 5px 0;
        }
    }
}