{% extends "auctions/layout.html" %}

{% block title %}Auctions: Watchlist {% endblock %}

{% block body %}
<h2 class="page-heading">Watchlist</h2>

<div class="grid-container">
    {% for item in watchlist %}
        <div class="grid-item">
            <a href="{% url 'listing' item.listing.id %}">
                <div class="image">
                    <img src="{{ item.listing.image }}" alt="{{ item.listing.title }}">
                </div>
                <h3>{{ item.listing.title }}</h3>
                <p><span class="price-label">Price: </span><span class="price">${{ item.listing.current_price }}</span></p>
                <p class="time">Created {{ item.listing.date_created }}</p>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}