{% extends 'encyclopedia/layout.html' %}

{% block title %}
    Edit: {{ title }}
{% endblock %}

{% block body %}
    <h1>Edit: {{ title }}</h1>
    <hr>

    <div id="form">
        <form action="{% url 'edit' title %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea name="content" class="form-control" id="content" rows="7" required>{{ content }}</textarea>
            </div>
            <input type="submit" value="Save Page" class="btn btn-primary">
        </form>
    </div>
    
{% endblock %}